@page
@model DashboardModel
@{
    ViewData["Title"] = "Home page";
}
<div class="dashboard">
    <div class="chart-company">
        <h5 class="title">Pelanggaran Perusahaan</h5>
        <div id="chart-canvas">
              <canvas id="myChart"  ></canvas>
        </div>
    </div>
    <div class="chart-kind">
        <h5 class="title">Pelanggaran Berdasarkan Jenis</h5>
         <div id="chart-canvas">
             <canvas id="dounatChart"></canvas>
         </div>
    </div>
    <div class="best-perform">
          <h5 class="title">Best Perform</h5>
          <div class="employes">
        @foreach (var item in Model.Employees)
        {
           <div class="employe" id="employee" >
                <div class="employe-photo">
                    <img src="@item.Photo">
                </div>
                <div class="employe-content">
                    <div class="employe-data">
                            <div class="form-data">
                        <div class="content-label">Name</div>
                        <div class="content-value">@item.Name </div>
                    </div>
                     <div class="form-data">
                        <div class="content-label">Job</div>
                        <div class="content-value">@item.Job </div>
                    </div>
                     <div class="form-data">
                        <div class="content-label">Sub Company</div>
                        <div class="content-value">@item.Company </div>
                    </div>
                    </div>
                   
                </div>
            </div>
        }
          </div>
        
    </div>
    <div class="today">
          <h5 class="title">Pelanggaran Hari Ini</h5>
        <div class="today-container">
         <div class="today-item" id="item1">
            <div class="today-title">
                Ringan
            </div>
 <hr/>
            <div class="today-content">15</div>
        </div>
          <div class="today-item" id="item2">
            <div class="today-title">
                Sedang
            </div>
            <hr/>
            <div class="today-content">10</div>
        </div>
          <div class="today-item" id="item3">
            <div class="today-title">
                Berat
            </div>
 <hr/>
            <div class="today-content">5</div>
        </div>
        </div>
    </div>
</div>


